<html ng-app="app" role="application" lang="en">
	<head>
		<title></title>
		<link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
		<link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
		<link rel="stylesheet" href="bower_components/codemirror/theme/tomorrow-night-eighties.css">
		<link rel="stylesheet" href="Content/Styles/Base.css">
		<link rel="stylesheet" href="Content/Styles/MaterializeBase.css">
				<script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>
		<script type="text/javascript" src="bower_components/codemirror/mode/xml/xml.js"></script>
		<script type="text/javascript" src="bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
		<script type="text/javascript" src="bower_components/codemirror/mode/javascript/javascript.js"></script>
		<script type="text/javascript" src="bower_components/codemirror/mode/php/php.js"></script>
		<script type="text/javascript" src="bower_components/codemirror/mode/css/css.js"></script>
	</head>
	<body>
		
		<!-- Top Navagation -->
		<header>
			<nav>
				<div class="nav-wrapper">   	
			    	<a href="#" class="brand-logo">Bizzychat</a>	      	
			      	<ul id="nav-mobile" class="right hide-on-med-and-down">
			    	</ul>
				</div>
			</nav>
		</header>

		<!-- Side Navagation -->
		<ul id="nav-mobile" class="side-nav fixed"  ng-controller="ChannelCtrl">
			<div class="side-nav-header valign-wrapper">
				<span class="valign online-users-text">Channels</span>
			</div>
			
			<ul>
				<li ng-repeat="item in roomList track by item">
					<div class="room-name" ng-bind-html="item | to_trusted"></div>
				</li>
			</ul>
		</ul>

		<ul id="nav-mobile" class="side-nav right-side-nav fixed"  ng-controller="UsersCtrl">
			<div class="side-nav-header valign-wrapper">
				<span class="valign online-users-text">Users</span>
			</div>
			
			<ul>
				<li ng-repeat="item in userList track by item">
					<div class="user-name" ng-bind-html="item | to_trusted"></div>
				</li>
			</ul>
		</ul>

		<!-- Main Body -->
		<main>
			<div class="chat-container" ng-controller="ChatCtrl">
				<div class="chat-messages" scroll-glue>
					<div ng-repeat="item in Messages">
						 <div ng-if="item.type != 'status'" class="message {{item.type}}">
						 	<div class="message-nickname">{{item.nickname}}:</div>
						 	<div ng-if="item.type != 'Code'" class="message-text" ng-text-truncate="item.message" ng-tt-chars-threshold="250" ng-bind-html="item.message | to_trusted"></div>
						 	<div ng-if="item.type == 'Code'">
						 		<br/>
						 		<ui-codemirror ng-model="item.message" ui-codemirror-opts="{ lineWrapping: true, lineNumbers: true, mode: {{item.extra}}, matchBrackets: true, indentWithTabs: true, lineWrapping: false}"></ui-codemirror>
						 	</div>
						 </div>
						 <div ng-if="item.type == 'status'">
						 	<div class="message-status">{{item.message}}</div>
						 </div>
					</div>
				</div>
				<div class="chat-controls z-depth-1">
					<textarea ng-model="userMessage" ng-keyup="$event.keyCode == 13 && sendMessage()" placeholder="Type your message here..."></textarea>
				</div>
			</div>
		</main>

		<!-- Kicked Dialog -->
		<div id="kickedModal" class="modal modal-fixed-footer" ng-controller="LoginCtrl">
			<div class="modal-content">
			    <h4>Kicked</h4>
			    
				<p>You were kicked from the server, click below to sign back in.</p>

			</div>
			<div class="modal-footer">
			    <a href="#" ng-click="joinServerDialog()" class="waves-effect waves-green btn-flat modal-action">Join Server</a>
			</div>
		</div>

		<!-- Join Chat Dialog -->
		<div id="modal1" class="modal modal-fixed-footer" ng-controller="LoginCtrl">
			<div class="modal-content">
			    <h4>Join Chat</h4>
			    
				<div class="row">
					<form class="col s12">

					    <div class="row">
					    	<div class="input-field col s6">
					    		<input ng-model="nickname" id="nickname" type="text" class="validate" value="wheately">
					    		<label for="nickname">Nickname (Required)</label>
					    	</div>
					        <div class="input-field col s6">
					        	<input ng-model="password" id="password" type="password" class="validate">
					        	<label for="password">Password</label>
					        </div>
					    </div>

					    <div class="row">
					    	<div class="input-field col s6">
					    		<input id="group" ng-model="group" type="text" class="validate">
					    		<label for="group">Group (Required)</label>
					    	</div>
					        <div class="input-field col s6">
					        	<input id="group_password" ng-model="gpass" type="text" class="validate">
					        	<label for="group_password">Group Password</label>
					        </div>
					    </div>
						<div class="form-error">
							<span>{{errorMessage}}</span>
						</div>
					</form>
					
					<p>Welcome to Bizzychat! To join a group, enter a nickname, and if you have one, enter your password. Then enter the group you want to join. If the group has a password, then enter the password.</p>

				</div>

			</div>
			<div class="modal-footer">
			    <a href="#" ng-click="joinServer()" class="waves-effect waves-green btn-flat modal-action">Join Server</a>
			</div>
		</div>



		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-codemirror/ui-codemirror.min.js"></script>
		<script type="text/javascript" src="bower_components/read-more/angular-readmore.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
		<script type="text/javascript" src="Scripts/app.js"></script>
		<script type="text/javascript" src="Scripts/Controllers/ChatController.js"></script>
		<script type="text/javascript" src="Scripts/Controllers/LoginController.js"></script>
		<script type="text/javascript" src="Scripts/Controllers/UsersController.js"></script>
		<script type="text/javascript" src="Scripts/Controllers/ChannelsController.js"></script>
	</body>
</html>